@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/*----------CUSTOM PROPERTY----------*/

:root {
  /* colors */
  --primary-color: #f97b22;
  --secondary-color: #c7631c;
  --terciary-color: #468b97;
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 40px;
  border-left: 8px solid var(--bg-primary);
  border-right: 8px solid var(--bg-primary);
}

html::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

/*----------RESET----------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
span {
  display: inline-block;
}

/*----------THEME COLOR----------*/

body.light_theme {
  --bg-primary: #e6e6e6;
  --bg-gradient: #e6e6e6e6;
  --bg-secondary: #f7f7f7;
  --color-primary: #1f1f1f;
  --color-secondary: #5e5e5e;
  --gradient-color: linear-gradient(
    180deg,
    hwb(0 90% 10% / 0.5) 0%,
    #e6e6e6 100%
  );
}
body.dark_theme {
  --bg-primary: #1f1f1f;
  --bg-gradient: #1f1f1fe6;
  --bg-secondary: #525252;
  --color-primary: #ffffff;
  --color-secondary: #9e9e9e;
  --gradient-color: linear-gradient(
    180deg,
    hsla(0, 0%, 12%, 0.5) 0%,
    #1f1f1f 100%
  );
}

body {
  background: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;
  height: 2000px;
  transition: background 0.3s linear;
}

/*----------REUSED STYLE----------*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.center-container {
  display: flex;
  justify-content: center;
}

/*----------HEADER----------*/

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background: var(--bg-gradient);
  background-blend-mode: darken;
  padding: 20px 0;
  transition: 0.3s;
}

.header.ativo {
  background-color: var(--bg-primary);
  padding: 10px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.logo {
  font-family: "Poppins", sans-serif;
  margin-right: auto;
}

.logo span {
  font-family: "Poppins", sans-serif;
  margin-right: auto;
  color: #68e7f7;
}

.menu {
  display: flex;
  gap: 60px;
  font-family: "Poppins", sans-serif;
}

.menu a {
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  position: relative;
  padding: 5px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.menu a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  transition: all 0.3s ease-out 0s;
}

.menu :hover a::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
  color: var(--primary-color);
}

.menu :hover a {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.nav-detail {
  background: var(--color-primary);
  width: 2px;
  height: 28px;
  margin-left: 30px;
}

.mode-color {
  margin-left: 30px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--bg-secondary);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .checkbox-label.ativo {
  background: var(--bg-primary);
} */

.bi-moon-fill {
  color: #f1c40f;
}

.bi-sun-fill {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: var(--color-primary);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/*----------INTRO----------*/

.intro {
  background: var(--gradient-color), url(../img/fotos/home-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.intro-container {
  display: flex;
  align-items: center;
  gap: 80px;
  position: relative;
  padding-top: 40px;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.intro-text h1 {
  color: var(--color-primary);
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}
.intro-text h1 span {
  animation: hand-animation 1s infinite;
}
.intro-img {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}
.intro-img img {
  object-fit: contain;
}
@keyframes hand-animation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.intro-text h2 {
  color: var(--color-primary);
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.intro-text p {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--color-primary);
}

.social-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  position: absolute;
  left: -300px;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid var(--primary-color);
  padding: 20px 10px;
  border-radius: 40px;
}

.social-list a {
  font-size: 1.5rem;
}

.social-list i {
  color: var(--color-secondary);
  transition: 0.3s;
}

.social-list i:hover {
  color: var(--secondary-color);
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: 40px;
  right: -200px;
}

.scroll h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--color-primary);
  letter-spacing: 0.5em;
  text-align: center;
  padding-left: 20px;
}

.scroll img {
  transform: rotate(180deg);
}
